{{with .Site.Data.services}} {{if .enable}}
<section id="service">
<h1 class="text-center">{{.title}}</h1>
<p class="h5 text-center m-5">{{.subtitle}}</p>
<hr class="featurette-divider" />
<div class="container marketing">
  {{range $index, $service := .services}}
  <div class="row featurette">
    {{if modBool $index 2}}
    <!-- Odd index: image on right -->
    <div class="col-md-7">
      <h2 class="featurette-heading">
        {{$service.name}}
        <span class="text-featurette">{{$service.tagline}}</span>
      </h2>
      <p class="lead">
        {{$service.description}}
        {{if $service.details}}
        <ul style="font-size: large;">
          {{range $service.details}}
          <li>{{.}}</li>
          {{end}}
        </ul>
        {{end}}
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="/{{$service.img}}"
        class="img-featurette"
        alt="{{$service.name}}"
        style="margin-top: 60px;"
      />
    </div>
    {{else}}
    <!-- Even index: image on left -->
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        {{$service.name}}
        <span class="text-featurette">{{$service.tagline}}</span>
      </h2>
      <p class="lead">
        {{$service.description}}
        {{if $service.details}}
        <ul style="font-size: large;">
          {{range $service.details}}
          <li>{{.}}</li>
          {{end}}
        </ul>
        {{end}}
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="/{{$service.img}}"
        class="img-featurette"
        alt="{{$service.name}}"
        style="margin-top: 60px;"
      />
    </div>
    {{end}}
  </div>
  {{if not (eq $index (sub (len $.Site.Data.services.services) 1))}}
  <hr class="featurette-divider" />
  {{end}}
  {{end}}
</div>
</section>
{{end}} {{end}}
